# This workflow will check our code for having a proper format, as well as the commit message to meet the expected ones

name: Lint

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  lint:
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, 'bump:')"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1

      - name: Install the project
        run: uv sync --locked --group dev --python 3.10

      - name: Cache mypy cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v4.2.1
        with:
          path: .mypy_cache
          key: mypy-${{ runner.os }}
          restore-keys: |
            mypy-${{ runner.os }}

      - name: Lint
        run: |
          uv run ruff format --check src tests
          uv run ruff check src tests
          uv run mypy src tests

  lint-commit:
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, 'bump:')"
    name: "Lint commit message"
    container:
      image: commitizen/commitizen:4.8.3@sha256:08a078c52b368f85f34257a66e10645ee74d8cbe9b471930b80b2b4e95a9bd4a
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Check commit message
        run: |
          git config --global --add safe.directory /__w/twyn/twyn
          cz check --rev-range HEAD
