name: Publish

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish_to_pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Build package
        uses: ./.github/actions/python-package-build
        id: build
        with:
          uv-version: "0.8.22"
          python-version: "3.10"

      - name: Publish package
        run: |
          uv publish

  publish_to_dockerhub:
    name: Push Docker images to registries
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Log in to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker images
        uses: ./.github/actions/docker-build
        with:
          push: "true"
          platforms: linux/amd64,linux/arm64
          dockerfile: ./Dockerfile
          context: .
          image-name: elementsinteractive/twyn
          cache-from: |
            type=registry,ref=ghcr.io/elementsinteractive/twyn:buildcache-amd64
            type=registry,ref=ghcr.io/elementsinteractive/twyn:buildcache-arm64

      - name: Delete old cache entries
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          # Get all versions of the container package
          versions=$(gh api "orgs/elementsinteractive/packages/container/twyn/versions" --paginate)

          # Extract version IDs that do NOT have any buildcache-* tags (buildcache-amd64, buildcache-arm64, etc.)
          ids_to_delete=$(echo "$versions" | jq -r '.[] | select(.metadata.container.tags | map(test("^buildcache-")) | any | not) | .id')

          # Delete them
          for id in $ids_to_delete; do
            echo "Deleting old cache version ID: $id"
            gh api -X DELETE "orgs/elementsinteractive/packages/container/twyn/versions/$id"
          done

  release_notes:
    runs-on: ubuntu-latest
    needs: [publish_to_pypi, publish_to_dockerhub]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b #v2.5.0
        with:
          generate_release_notes: true
          token: "${{ secrets.GITHUB_TOKEN }}"
