name: Security

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "0 0 * * 1" # every Monday at 00:00 UTC

jobs:
  osv-scanner:
    if: "!startsWith(github.event.head_commit.message, 'bump:')"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/google/osv-scanner:v2.1.0@sha256:9a1ba57d2a1506c9e9d0dfbeaf46346507e829745b70d47d77e12c38e66de8d7
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run OSV Scanner
        run: |
          /osv-scanner --format table -r .

  semgrep:
    if: github.event_name != 'schedule' && !startsWith(github.event.head_commit.message, 'bump:')
    runs-on: ubuntu-latest
    container:
      image: returntocorp/semgrep:1.128.1@sha256:144d315f7354c2b2c53021a76165a500f67252c47464be75e951b67050f54a9e
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run Semgrep
        run: |
          semgrep scan --config auto

  twyn:
    if: github.event_name != 'schedule' && !startsWith(github.event.head_commit.message, 'bump:')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

      - name: Install the project
        run: uv sync --locked --extra cli

      - name: Run Twyn against our dependencies
        run: |
          uv run twyn --version
          uv run twyn run -vv
